.users {
  width: 50vw;
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* .persons {
  display: flex;
  flex-wrap: wrap;
  row-gap: 30px;
  column-gap: 30px;
} */

.persons {
  display: grid;
  grid-template-columns: 33% 33% 33%;
  row-gap: 40px;
  column-gap: 30px;
  margin-top: 64px;
}

.person h2 {
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 24px;
  margin: 0;
}

.person p {
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 14px;
  color: #3f3f3f;
  margin: 0;
}

.view-details-btn {
  display: block;
  outline: none;
  border: none;
  color: #ffffff;
  font-weight: 500;
  font-size: 14px;
  background: #006cff;
  border-radius: 4px;
  padding: 8px 12px;
  cursor: pointer;
}

.view-details-btn:hover {
  background: #8bacda;
}
